[submodule "Mongo_Operations"]
	path = Mongo_Operations
	url = https://github.com/ZealShah96/Mongo_Mangoose_helper.git

[submodule "angular6-example"]
	path = ./MVC_Pattern_API/To_Do_List/views/angular6-example
	url = https://github.com/ZealShah96/Dynamic-Angular-Page-For-Curd.git
