<!doctype html>
<html ng-app="angularApp">
 <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
  <script src="index.js"></script>
 </head>
 <body>
     <div ng-controller="indexCtrl as app">
         <center>
            <h2>Welcome!</h2>
                <br />
            <h3 ng-if="app.loginSuccess != 200">Enter your name below:</h3>
            <input type="text" ng-if="app.loginSuccess != 200" ng-model="app.username" placeholder="Scope variable name" />
                <br /><br />
            <input type="text" ng-if="app.loginSuccess != 200" ng-model="app.password" placeholder="Controller variable name" />
                <br /><br />
            <button  ng-if="app.loginSuccess != 200" ng-click="postRequest()">Test Rest</button>
            <h2 ng-if="app.loginSuccess == 200">User is logged in Successfully.{{}}</h2>
            <h2 ng-if="app.loginSuccess == 401">User login is not allowed.</h2>
            <h2 ng-if="app.loginSuccess == 200">List Of Tasks.</h2>
            <h2 ng-if="app.loginSuccess == 200" ng-click="createToListRequest()"></button>
            <!-- <ul ng-if="app.tasksDataCame==true">
                <li *ngFor="let item of {{app.listoftasks}}">
                    <text>{{item}}</text>
                </li>
            </ul>  -->
            <!-- {{app.listoftasks}} -->
        </center>
     </div>
 </body>
</html>